@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: rgb(28, 26, 26);
    font-family: 'Muli, mulish', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}